@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body{
	margin:0;
	padding:0;
	font-family: 'Karla', sans-serif !important;
}
.custom-wrapper{
	max-width: 1200px;
	margin: 0 auto;
}
.mini-banner{
	background-color: #111b24;
	background-image:url(../../../assets/hero-generic-bg.svg);
	padding:50px 0;
}
.banner-list{
	text-align: center;
}
.banner-list h3{
	color:#fff;
	font-size: 36px;
	font-weight: 400;
}
.banner-list h3 span{
	font-weight: bold;
}
.banner-list ul{
  padding: 0;
}
.banner-list ul li{
	display: inline-block;
	color: #bccbd6;
	font-size: 13px;
	margin: 20px 12px;
}
/**/
.slider-section{
	background-color: #141f29;
	padding: 30px 0;
}
.swiper1 {
        width: 100%;
    }
.slider-section .swiper-container{
	overflow: visible;
}
.swiper1 .selected{
  color:#00eac7;
/*  border-bottom:1px solid #00eac7;*/
}
.swiper1 .swiper-slide {
    text-align: center;
    font-size: 14px;
    height:45px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    cursor:pointer;
}

.swiper2 {
  width: 100%;
} 
.swiper2 .swiper-slide{
  text-align:center;
  padding:80px 0 0 0;
  font-size:13px;
  width:32% !important;
  margin-right: 19px;

}
.overflow-hidden{
	overflow: hidden;
}
.swiper-slide{
	color: #fff;
}
.swiper-container .swiper-wrapper .swiper-slide{
	position: relative;
	margin-top: 40px;
}
.swiper-container > .swiper-wrapper > .swiper-slide:before{
	content: "";
	display: inline-block;
	width: 100%;
	height: 1px;
	background-color: #2f4252;
	position: absolute;
	left: 0;
	bottom: 0;
}
.swiper-container .swiper-wrapper .swiper-slide.selected:before{
	background-color: #00eac7;
}
.swiper-container .swiper-wrapper .swiper-slide.selected:after{
	color:#00eac7;
}
.swiper-container > .swiper-wrapper > .swiper-slide:after{
	content: "\f058";
	font-family: FontAwesome;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 38px;
	color: #2f4252;
}
.slider-section .swiper-container.swiper2 .swiper-slide {
    opacity: 0.6 !important;
}
.slider-section .swiper-container.swiper2 .swiper-slide.swiper-slide-active{
  opacity: 1 !important;
}
.slider-card-sec{
	position: relative;
}
.top-left-card-sec{
	position: absolute;
    top: -2px;
    left: 0;
    z-index: 2;
    width: calc(100% - 160px);
    height: 25px;
    border-top: 1px solid #1b2b38;
    border-left: 1px solid #1b2b38;
    border-radius: 2px 0 0 0;
    background: #14202a;
}
.top-left-card-sec:after{
	
    bottom: 0;
    position: absolute;
    left: calc(100% - 0.5px);
    border-width: 24px 0 0 20px;
    border-left-color: #14202a;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    border-style: solid;
}
.top-left-card-sec:before{
	  content: "";
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    border-style: solid;
    left: calc(100% - 0.5px);
    border-width: 24px 0 0 20px;
    border-left-color: #1b2b38;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
}
.card-content {
    padding: 15px;
    background-color: #14202a;
    text-align: left;
    border: 1px solid  #1b2b38;
}
.swiper-wrapper{
	height: auto !important;
}
.stay-up-date h2{
  color: #fff;
  font-size: 24px;
  font-family: 'Gilroy-Bold', sans-serif;
}
.stay-up-date h2 span{
  font-weight: bold;
}
.intro-card:hover .intro-content, .tutorial-small-card:hover,
.Powered-by-small-card:hover  {
	transform: translateY(-5px);
}
.tutorial-small-card, .Powered-by-small-card{
  transition: 0.3s ease-in-out;
}
/*Accordion*/
ul.accordion-list {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  list-style: none;
}
ul.accordion-list li {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  background-color: transparent;
  padding: 20px 0;
  margin: 8px 0 8px 0;
  text-align: left;
  border-bottom: 1px solid #1b2b38;
 
  cursor: pointer;
}
ul.accordion-list li.active h3:after {
  transform: rotate(180deg);
}
ul.accordion-list li h3 {
  font-weight: 700;
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding: 0 0 0 0;
  margin: 0;
  font-size: 15px;
  letter-spacing: 0.01em;
  cursor: pointer;
  color: #bccbd6;
}
ul.accordion-list li h3:after {
  content: "\f078";
 font-family: FontAwesome;
  position: absolute;
  right: 0;
  top: 0;
  color: #00eac7;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
}
ul.accordion-list li div.answer {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
ul.accordion-list li div.answer p {
  position: relative;
  display: block;
  font-weight: 300;
  padding: 10px 0 0 0;
  cursor: pointer;
  line-height: 150%;
  margin: 0 0 15px 0;
  font-size: 14px;
}
span.status-bar {
    text-align: right;
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    letter-spacing: 2px;
}
.destination-sec{
	background-color: #141f29;
	padding: 130px 0;
	position: relative;
	z-index: 55;
}
.destination-content h4 {
    font-size: 24px;
    font-weight: 400;
}
.destination-content h4 strong{
	font-weight: 600;
}
.destination-content{
	background-color: #fff;
	padding: 27px;
	max-width: 900px;
	margin:0 auto;
	position: relative;
}
.destination-content::before{
	content: "";
    display: inline-block;
    width: 100px;
    height: 100%;
    position: absolute;
    left: -99px;
    background-image: url(../../../assets/box-end.svg);
    background-repeat: no-repeat;
    top: 0;
    background-size: contain;
    transform: rotate(180deg);
}
.destination-content::after {
    content: "";
    display: inline-block;
    width: 100px;
    height: 100%;
    position: absolute;
    right: -99px;
    background-image: url(../../../assets/box-end.svg);
    background-repeat: no-repeat;
    top: 0;
    background-size: contain;
}
.single-line{
	width: 20%;
	height: 2px;
	background-color: #d8dee3;
}
.d-flex{
	display: flex;
}
.align-items-center{
	align-items: center;
}
.btn-green {
    background-color: #00eac7;
    padding: 15px 20px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
}
.justify-space-between{
	justify-content: space-between;
}
.destination-sec::before{
	content: "";
	display: inline-block;
	width: 100%;
	height: 200px;
	background-image: url('../../../assets/cta-desktop-night-lines.png');
	position: absolute;
	top: 10px;
	z-index: -1;
}
.destination-sec::after{
	content: "";
	display: inline-block;
	width: 100%;
	height: 200px;
	background-image: url('../../../assets/cta-desktop-night-lines.png');
	position: absolute;
	bottom: 10px;
	transform: rotate(180deg);
	z-index: -1;
}
.accordion-list-section ul.accordion-list li:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}
.m0, .banner-list ul li.m0{
  margin: 0;
}
.custom-bg{
  background-color: #111b24;
}
.section-padding{
  padding:80px 0;
}
.heading-sec span{
  font-weight: 400;
}
.heading-sec{
  color: #fff;
  position: relative;
}
.heading-sec::after{
  content: "";
  display: inline-block;
  width: 80px;
  height: 3px;
  background-color: #00eac7;
  position: absolute;
  top: 50px;
  left: 0;
}
.intro-sec p{
  color: #bccbd6;
  font-size: 18px;
}
.intro-card {
    border: 1px solid #1b2b38;
    border-bottom: 2px solid #00eac7;
    border-radius: 4px;
    background: #111b24;
    color: #bccbd6;
    padding: 20px 20px 70px;
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
}
.intro-card:hover{
  background-color: #14202a;
}
.intro-content h5 {
    color: #fff;
}

.intro-icon img{
  max-width: 100px;
}
.intro-content{
  margin-top: 20px;
  transition: 0.2s ease-in-out;
}
.poisition-btn .green-btn-efect {
    background-color: #0e4445;
    box-shadow: 0 0 12px rgba(0,204,171,.2);
    color: #00ccab;
    border: 0;
    padding: 10px 30px;
    border-radius: 30px;
}
.poisition-btn .green-btn-efect {
    background-color: #0e4445;
    box-shadow: 0 0 12px rgba(0,204,171,.2);
    color: #00ccab;
    border: 0;
    padding: 10px 30px 10px 20px;
    border-radius: 30px 0px 0px 30px;
    position: absolute;
    right: -74px;
    transition: 0.5s ease-in-out;
    font-size: 18px;
    font-weight: 500;
}
.intro-card:hover .poisition-btn .green-btn-efect{
    right: -20px;
}
.tutorial-card{
  padding:20px;
}
.tutorial-card .filled-card{
  padding:20px;
  background-color: #14202a;
  margin-bottom: 20px;
}
.tutorial-card{
  border:1px solid #1b2b38;
  margin-top: 50px;
}
.tutorial-small-card h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}
.side-border{
  position: relative;
}
.side-border::before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 40px;
    position: absolute;
    left: -20px;
    top: -6px;
    background-color: #00eac7;
}
.tutorial-card{
  margin-top:100px;
}
.light-badge{
  padding: 2px 5px;
  background-color: #1b2b38;
  color: #bccbd6;
  border-radius: 2px;
  font-size: 14px;
}
.top-tutorial-sec span.lnr{
  color: #00eac7;
}
.tutorial-small-card h4{
  font-size: 18px;
}
.tutorial-small-card p{
  font-size: 14px;
  color: #bccbd6;
}
.tutorial-card a{
  color: unset !important;
  text-decoration: none !important;
}
.tutorial-card h4{
  color: #fff;
  margin-top: 20px;
  font-size: 20px;
}
.tutorial-small-card p {
    font-size: 14px;
    color: #bccbd6;
    min-height: 50px;
    margin-bottom: 0;
}

/*Powered-sec*/
.powered-list h2{
  color: #fff;
  font-size: 16px;
}
.powered-list ul{
  padding-left: 20px;
  color: #fff;
}
.powered-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.powered-list ul li {
  padding-left: 1em; 
  text-indent: -.7em;
  color: #bccbd6;
}

.powered-list ul li::before {
    content: "• ";
    color: #00eac7;
    left: -5px;
    position: relative;
    font-size: 23px;
}
.top-tutorial-sec p{
  color: #bccbd6;
  font-size: 16px;
}
.powered-list h5 {
    color: #fff;
    margin: 40px 0 20px;
}
.Powered-by-small-card p{
  min-height: auto;
  color: #bccbd6;
  margin-bottom: 0px;
}
/**/
.date-cards{
  border:1px solid #1b2b38;
  padding: 20px 15px;
  border-radius: 2px;
  color: #fff;
}
.date-cards p{
  color: #bccbd6;
  margin-bottom: 0px;
}
.date-cards:hover{
  background-color:#14202a;
}
.date-cards h4 {
    font-size: 18px;
}
.date-cards .lnr-move {
  color: #00ccab;
}
.left-sec-content p{
  color: #bccbd6;
  font-size: 20px;
}
.left-sec-content .btn-green{
  background-color: #1d4841;
  color: #00eac7;
  padding: 8px 22px;
  border-radius: 17px;
  transition: all 0.3s linear;
  margin: 15px 0px;
  cursor: pointer;
}
.left-sec-content .btn-green:hover{
  color: #00eac7;
}




/**/


/*Media Query*/
@media only screen and (max-width:767px){
.swiper1 .swiper-wrapper .swiper-slide span{display: none;}
.swiper2 .swiper-slide{width: 100% !important}
.slider-section .swiper-container.swiper2 .swiper-slide {
    opacity: 1 !important;
}
.destination-sec .destination-content {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.single-line{
  display: none;
}
.btn-green{
  margin-top: 15px;
}

}