/* .build_scale_wrapper{
   
} */



.build_data{
    background-color: #111c26;
    border: 1px solid rgb(58, 56, 56);;
    padding: 90px 32px 20px 54px;
    transition: all 0.3s linear;
}

.scale_data{
    background-color: #111c26;
    border: 1px solid rgb(58, 56, 56);
    padding: 90px 32px 20px 54px;
    transition: all 0.3s linear;
}



 .common_line{
    border-left: 2px solid #00eac7;
    ;
}


.build_scale_wrapper .top_data_heading{
    margin-left: 14px;
    
}


.build_scale_wrapper .build_para{
    margin-top: 18px;
    color: #8896a1
}

.build_scale_data_button{
    text-align: end;
    margin-top: 35px;
    color: #00eac7;
    cursor: pointer;
    transition: all 0.3s linear;
}

.build_scale_data_button:hover{
    color: #a7ece1;
}

.scale_data_heading{
    margin-left: 14px;
}

.hover_effect{
    transition: all 0.3s linear;
}

.hover_common{
    transition: all 0.3s linear;

}

.hover_common:hover .hover_effect{
    transform: translateY(6px);
}


