/* .driving_left_data .driving_para{
    color: #8896a1;
    margin: 15px 0px;
    

}

.driving_left_data .driving_line{
   display: block;
   width: 35px;
   height: 2px;
   background-color: #00eac7;  
   margin-top: 9px;    

}

.driving_left_data .driving_left_button{
    background-color: #00eac7;
    color: #c9d1d0;
    padding: 8px 22px;
    border-radius: 17px;
    transition: all 0.3s linear;
    margin: 15px 0px ;
    cursor: pointer;
    
}



 */
 .driving_right_data .driving_para{
    color: #8896a1;
    margin: 35px 0px;
    font-size: 18px;
    

}

.driving_right_data .driving_line{
   display: block;
   width: 35px;
   height: 2px;
   background-color: #00eac7;  
   margin-top: 9px;    

}

.driving_right_data .driving_right_button{
    background-color: #1d4841;
    color: #00eac7;
    padding: 8px 22px;
    border-radius: 17px;
    transition: all 0.3s linear;
    margin: 15px 0px ;
    cursor: pointer;
    
}
.driving-img-slider{
    position: relative;
}
.driving-img-slider::before {
	content: "";
	display: inline-block;
	width: 100%;
	height: 140px;
    background-image: linear-gradient(90deg, rgb(20 32 42 / 50%) , transparent);
	position: absolute;
	top: 0;
	z-index: 55;
    pointer-events: none;
}
.driving-img-slider::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 146px;
    background-image: linear-gradient(90deg, rgb(20 32 42 / 50%) , transparent);
    position: absolute;
    bottom: 0;
    z-index: 55;
    pointer-events: none;
}




