@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
body{
    font-family: 'Karla', sans-serif !important;
}
a{
    text-decoration: none !important;
}
li{
    list-style: none !important;
}
ul{
    padding-left: 0px;
}
button{
    border:0;
}
h3{
     font-family: 'Gilroy-Bold', sans-serif;
}
.gloary-bold{
    font-family: 'Gilroy-Bold', sans-serif;
}
.section-padding-100{
    padding:100px 0;
}
.f-bold{
    font-weight: bold;
}
.light-cards{
    border:1px solid #1B2B38;
    padding: 20px;
}